@import "all";
@import "comicStyles";
@import "responsive";

@include comicStyles("comic");

#comicDetails {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5vw;
  h3 {
    font-size: 1.3vw;
  }
  @include media(768px) {
    grid-template-columns: repeat(3, 1fr);
    h3 {
      font-size: 0.8rem;
    }
  }
  @include media(500px) {
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    color: rgb(102, 102, 102);
    font-size: 2rem;
    letter-spacing: 2px;
    word-spacing: 5px;
    background: black;
    padding: 35vh 2vw 2vw 2vw;
    width: 100%;
    height: 90vh;
    position: fixed;
    top: 10vh;
    left: 0;
    text-align: center;
  }
}

#comicBtnSet {
  //border: 1px solid red;
  display: flex;
  justify-content: space-between;
  margin: 2vh 0 2rem 0;

  button {
    @include button(12vw, 8.5vh, 1.2vw);
    color: white;
    font-weight: bolder;
    @include media(768px) {
      @include button(6.5rem, 8.5vh, 0.8rem);
    }
  }
}
