.page404 {
  position: fixed;
  background: rgb(0, 0, 0);
  width: 100%;
  height: 85vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: bac;
  animation-duration: 4s;
  animation-iteration-count: infinite;

  span {
    font-size: 10vw;
  }
  h1 {
    font-size: 2vw;
    margin-bottom: 2rem;
    animation-name: colors;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  a {
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
  }
}

@keyframes colors {
  0% {
    color: rgb(185, 173, 3);
  }
  25% {
    color: rgb(175, 19, 19);
  }
  50% {
    color: rgb(12, 23, 180);
  }
  75% {
    color: rgb(0, 255, 221);
  }
  100% {
    color: rgb(23, 187, 8);
  }
}

@keyframes bac {
  0% {
    background: rgb(255, 247, 136);
  }
  25% {
    background: rgb(255, 131, 131);
  }
  50% {
    background: rgb(136, 144, 255);
  }
  75% {
    background: rgb(120, 255, 237);
  }
  100% {
    background: rgb(144, 255, 134);
  }
}
