.page404 {
  position: fixed;
  background: rgb(17, 126, 250);
  width: 100%;
  height: 85vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    font-size: 10vw;
  }
  h1 {
    font-size: 2vw;
    margin-bottom: 2rem;
  }
  a {
    font-size: 1.5vw;
    color: rgb(255, 220, 220);
  }
}
