.slider {
  position: absolute;
  width: 100%;
  height: 80vh;
  border: 1px solid red;
  display: flex;
}

#slide {
  border: 1px solid green;
  min-width: 92vw;
  height: 100%;
  transition: 0.5s;
}

#nextSlide {
  position: absolute;
  background: rgb(198, 198, 255);
  width: 8vw;
  height: 100%;
  right: 0;
  border: 1px solid lawngreen;
  z-index: 10;
}
